form
{
border: 3px solid burlywood;
}
input[type=text],input[type=password]
{
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;

}
button1
{
    border: none;
    background-color: green;
    text-align: center;
    align-content: center;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}



button:hover
{
    opacity: 0.8;
}
.btn2
{
width: auto;
background-color: red;
padding: 10px 18px;
}
.imgcon
{text-align: left;
margin: 24px 12px 0;}
img.login
{
width: 30%;
border-radius: 40%;
}
.con
{padding: 16px;}